<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1v" stopProcessing="true">
          <match url="^([a-zA-Z_-]*)$"  ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}"  />
        </rule>
      </rules>
    </rewrite>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
