
/* MAIN */
body {background: #1c1d23 !important;margin: 0 auto;font-family: 'Open Sans';}
/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

.kyc-logo{
    height: 100px;
    width: 100px;
    float: left;
    margin-top: -120px;
    background: url(../images/Logo/logo1.png);
    -webkit-filter: drop-shadow(5px 3px 5px #fff);
    filter: drop-shadow(5px 3px 5px #000);
    margin-bottom: 15px;
}

/* MAIN */
.kyc-main{width:1080px;margin:0 auto;top: 280px;position: relative;}
.kyc-main-normal{max-width:920px;margin:0 auto;position: relative;}
.kyc-main-normal:after {content: "";display: table;clear: both;}
.kyc-full{width:100%;margin:0 auto;position: relative;}
.logo{margin-top: 80px;text-align: center;margin-bottom: 60px;}
head-title{height: 40px; width: 100%;float:left;line-height: 40px;text-transform: uppercase;}
head-title > i{float: right;margin-top: 10px;cursor: pointer;}
total-count{height: 40px; width: 100%;float:left;line-height: 40px;text-transform: uppercase;margin-bottom: 15px;}
view-button{height: 40px; width: 100%;float:left;line-height: 40px;text-transform: uppercase;text-align: center;cursor: pointer;}
data-box{height: 40px;width:140px;float:left;margin-bottom: 10px;}
data-box > .title{float:left;width: 100%;}
data-box > .data{float:left;width: 100%;}
full-data-box{height: 40px;width:100%;float:left;margin-bottom: 10px;}
full-data-box > .title{float:left;width: 100%;}
full-data-box > .data{float:left;width: 100%;}

/* SIZE BOX */
full-box{width: 100%;height: auto;float:left;padding: 15px;}

/* SIDEBAR */
kyc-sidebar{height: 100%; width: 300px; float: left;padding: 0px 15px;}
section{float: left;margin-top: 10px;margin-bottom: 10px;width: 100%;}
under-section{float: left;margin-top: 10px;margin-bottom: 10px;width: 100%;text-align: center;}
under-section:hover{color: #43e59c;text-shadow: 1px 1px 3px #000000d4;}
action-tab{height: 40px;width: 92%;text-align: center;color: #fff;float: left;line-height: 40px;margin-bottom: 10px;padding: 0px 10px;}
action-tab:hover{color: #43e59c;text-shadow: 1px 1px 3px #000000d4;background: #00000042;padding: 0px 10px;cursor:pointer;}
.active{background: #00000042;color: #43e59c;}
action-tab > i{position: relative;margin-right: 10px;top: 0px;float: left;line-height: 40px !important;}
.clear-sidebar{float:left;height:40px;width: 100%;}

/* FONT SIZE */
h2{float: left;width: 100%;font-weight: 500;}
h2-dash{float: left;width: 100%;font-weight: 500;margin-top: 80px;}
h2-info{float: left;width: 100%;font-weight: 500;margin-top: 5px;margin-bottom: 15px;}
h2-info > i{position: relative;margin-right: 10px;}
.desc{font-size: 16px;float: left;width: 100%;}
.desc > i{position: relative;margin-right: 10px;top: 1px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f23{font-size: 23px;}

/* FONT WEIGHT */
.f300{font-weight: 300;}
.f400{font-weight: 400;}
.f500{font-weight: 500;}
.f600{font-weight: 600;}
.f700{font-weight: 700;}

/* RIG */
rig-2{width: 510px;height: auto;float: left;padding:15px;}
rig-2-nopad{width: 540px;height: auto;float: left;}
rig-2-nopad2{width: 440px;height: auto;float: left;}
rig-2-clear{float:left;width: 40px;height: 10px;}

rig-3{width: 280px;height: auto;float: left;padding:15px;}
rig-3-nopad{width: 540px;height: auto;float: left;}
rig-3-nopad2{width: 280px;height: auto;float: left;}
rig-3-clear{float:left;width: 40px;height: 10px;}

rig-1{width: 280px;height: auto;float: left;padding:15px;}
rig-1-nopad{width: 540px;height: auto;float: left;}
rig-1-nopad2{width: 280px;height: auto;float: left;}
rig-1-clear{float:left;width: 40px;height: 10px;}

rig-1-big{width: 510px;height: auto;float: left;padding:15px;}
rig-1-big-nopad{width: 540px;height: auto;float: left;}
rig-1-big-nopad2{width: 600px;height: auto;float: left;}


/* IMAGE SIZE */
img{filter: drop-shadow(5px 5px 10px #000);}

/* Background Colors */
.lite-white{background: #14151b;}
.log-green{background: #49b584}
.lite-yellow{background: rgb(229 149 67)}

/* Box Shadows */
.normal-shadow{box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);}

/* FONT COLOR */
.white-font{color: #fff;text-shadow: 1px 1px 3px #000000d4;}
.yellow-font{color: rgb(255 206 117);text-shadow: 1px 1px 3px #000000d4;}
.grey-font{color: #ebebeb;text-shadow: 1px 1px 3px #000000d4;}
.green-font{color: #43e59c;text-shadow: 1px 1px 3px #000000d4;}

/* INPUT */
input {float: left;width: 100%;background: #00000054;height: 50px;border: 1px solid #ffffff1f;margin-top: 10px;margin-bottom: 10px;font-family: 'Open Sans';padding: 0px 15px;}
.no-top-bot{margin-top: 10px;margin-bottom: 0px;}

/* Other */
.clear{float:left; margin-top: 14px; width: 100%;}
.h-captcha{float:left; margin-top: 10px;}
.copyright{float:left; width:100%;margin-top: 20px;}

.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
  float: right;
}
.toggle__input {
  display: none;
}
.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}
.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
  background: #009578;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

/* 
@media only screen and (min-width: 200px) and (max-width: 920px)  {
    .kyc-main-normal{width: 100%!important;margin:0 auto;top: 80px;position: relative;}
	full-box{Width: 100%!important;height: auto;float:left;}
    rig-2{min-width: 250px;height: auto;float: left;padding:15px;}
    rig-2-nopad{min-width: 250px;height: auto;float: left;}
    rig-2-nopad2{min-width: 250px;height: auto;float: left;}
    rig-2-clear{float:left;width: 40px;height: 10px;}
}
*/
