
/* MAIN */
body {background: #18242e !important;margin: 0 auto;font-family: 'Gemunu Libre';}


/* MAIN */
.kyc-main{width:1080px;margin:0 auto;top: 280px;position: relative;}
.kyc-main-normal{width:920px;margin:0 auto;top: 80px;position: relative;}
.kyc-full{width:100%;margin:0 auto;position: relative;}
.logo{margin-top: 80px;text-align: center;margin-bottom: 60px;}

/* SIZE BOX */
full-box{width: 100%;height: auto;float:left;}

/* SIDEBAR */
kyc-sidebar{height: 100%; width: 300px; float: left;padding: 0px 15px;}
section{float: left;margin-top: 10px;margin-bottom: 10px;width: 100%;}
under-section{float: left;margin-top: 10px;margin-bottom: 10px;width: 100%;text-align: center;}
under-section:hover{color: rgb(255 206 117);text-shadow: 1px 1px 3px #000000d4;}
action-tab{height: 40px;width: 100%;text-align: center;color: #fff;float: left;line-height: 40px;}
action-tab:hover{color: rgb(255 206 117);text-shadow: 1px 1px 3px #000000d4;}
action-tab > i{position: relative;margin-right: 10px;top: 0px;}
.clear-sidebar{float:left;height:40px;width: 100%;}

/* FONT SIZE */
h2{float: left;width: 100%;font-weight: 500;}
.desc{font-size: 16px;float: left;width: 100%;}
.desc > i{position: relative;margin-right: 10px;top: 1px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f23{font-size: 23px;}

/* FONT WEIGHT */
.f300{font-weight: 300;}
.f400{font-weight: 400;}
.f500{font-weight: 500;}
.f600{font-weight: 600;}
.f700{font-weight: 700;}

/* RIG */
rig-2{width: 510px;height: auto;float: left;padding:15px;}
rig-2-nopad{width: 540px;height: auto;float: left;}
rig-2-nopad2{width: 440px;height: auto;float: left;}
rig-2-clear{float:left;width: 40px;height: 10px;}

/* IMAGE SIZE */
img{filter: drop-shadow(5px 5px 10px #000);}

/* Background Colors */
.lite-white{background: #ffffff0f;}
.log-green{background: #26313a;}
.lite-yellow{background: rgb(195 136 48);}

/* Box Shadows */
.normal-shadow{box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);}

/* FONT COLOR */
.white-font{color: #fff;text-shadow: 1px 1px 3px #000000d4;}
.yellow-font{color: rgb(255 206 117);text-shadow: 1px 1px 3px #000000d4;}
.grey-font{color: #b1b1b1;text-shadow: 1px 1px 3px #000000d4;}

/* INPUT */
input {float: left;width: 100%;background: #00000054;height: 40px;border: 1px solid #ffffff1f;margin-top: 10px;margin-bottom: 10px;font-family: 'Gemunu Libre';padding: 0px 15px;}
.no-top-bot{margin-top: 10px;margin-bottom: 0px;}

/* Other */
.clear{float:left; margin-top: 14px; width: 100%;}
.h-captcha{float:left; margin-top: 10px;}
.copyright{float:left; width:100%;margin-top: 20px;}